.contenedorItem {
    text-align: center;
    border: 1px solid black;
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: "Fjalla One", sans-serif;
}

.contenedorItem h2 {
    font-size: 25px;
    color: black;
    margin-top: 20px;
}

.contenedorItem h3 {
    font-size: 20px;
    color: black;

}

.contenedorItem p {
    font-size: 15px;
    color: black;
}

img {
    width: 20rem;
    margin: 10px;
}